body{
    background-color: #3d3d3d;
    color: #13b0cc;
    font-size: large;
}
header {
	position: relative;
	top: -10px;
	background-color: #32ad93;
	border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    
}
nav {
	position: fixed;
	top:10px;
	left:50%;
	margin-left:-254px;
}
nav ul{
	list-style-type: none;
	position: fixed;
	margin: -10px;
}

nav li {
	display: inline;
	border: 2px solid #000000;
	font-family: Futura, Tahoma, sans-serif;
	color: #ffffff;
	padding: 5px;
	border-radius: 5px 5px;
	background-color: #0cc6f5
}
header h2 {
	font-family: Verdana;
	font-weight: bold;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
	color: #acd1b2;
}
section{
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 70px;
    width: 60%;
}
h3{
    border-bottom: solid 1px #76f7f7;
}
.text-content{    
    width: 70%;
    display: inline-block;
}
.album-content{
    float:right;
    width: 25%;
}
.album-content img{
    width: 25vh;
    height: 15vw;
}
footer{
	clear: both;
	position: relative;
	bottom: -20px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	height: 75px;
    background-color: #32ad93;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

footer p{
    color:black;
}